<div class="col-3"> 
    <div class="card mb-4 box-shadow">
        <a href="{{ url_for('media', mediaID=media.id) }}">
        <img class="card-img-top" style="height:200px" src="{{ url_for('files', mediaID=media.id) }}" alt="Card image">
        </a>
        <div class="card-body">
           <h5 class="card-title text-center">{{media.name}}</h5>
           <p class="card-text">{{media.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Like</a>
                </div> 
                <small class="text-muted">Time</small>
            </div>
        </div>
    </div>
</div>


