{% extends "base.html" %}

{% block app_content %}
    <h1 class="text-center"><a href="{{url_for('view_recent_uploads')}}">Recent Uploads</a></h1>

    <div class="album py-5">
    <div class="container">
    <div class="row">
 
    {% for media in recent_uploads %}
    <!-- Loops through all results -->
    {% include '_display_media.html' %}
    <!-- End loop -->
    {% endfor %}

    </div>
    </div>
    </div>


    <h1 class="text-center"><a href="{{url_for('view_most_viewed')}}">Most Viewed</a></h1>
    <div class="album py-5">
    <div class="container">
    <div class="row">
 
    {% for media in most_viewed %}
    <!-- Loops through all results -->
    {% include '_display_media.html' %}
    <!-- End loop -->
    {% endfor %}

    </div>
    </div>
    </div>
    

    <h1 class="text-center"><a href="{{url_for('view_most_liked')}}">Most Liked</a></h1>
    <div class="album py-5">
    <div class="container">
    <div class="row">
 
    {% for media in most_liked %}
    <!-- Loops through all results -->
    {% include '_display_media.html' %}
    <!-- End loop -->
    {% endfor %}


    </div>
    </div>
    </div>


{% endblock %}
