{% extends "base.html" %}

{% block app_content %}

    <h1 class="text-center">{{media.name}}</h1>
    
    <div class="row">
    <div class="col">

    {% if 'image' in media.type %}
    <picture>
    <img class="img-fluid" src="{{ url_for('files', mediaID=media.id) }}"></img>
    </picture>
    {% elif 'video' in media.type %}
    <video class="mx-auto" src="{{ url_for('files', mediaID=media.id) }}" controls></video>
    {% elif 'text' in media.type  %}
    
    {% endif %}

    </div>
    </div>

    <div class="row">
    <div class="col">
    <p> Uploaded by: <a href="{{ url_for('user', username=username)}}">{{ username }} </a></p>
    </div>
    <div class="col">
    <p> Views: {{media.viewcount}} </p>
    </div>
    <div class="col">
    <p> Likes: {{likes}} </p>
    </div>
    </div>
    <div class="row">
    <h5 class="text-center mx-auto"> Description:</h5> 
    <p> {{media.description}}</p>
    </div>
 
{% endblock %}
