{% extends "base.html" %}

{% block app_content %}

    <div class="row">
    <div class="col-4">
        <img src="{{ url_for('files', mediaID=1) }}" alt="Profile Pic" class="img-thumbnail">
    </div>
    <div class="col-7">
    <h1 class="text-center"> Welcome to {{ user.username }}'s Page! </h1>
    <p class="text-center"> Join Date:
    <script>
        document.write(moment.utc("{{ user.join_date }}").format('LL'));
    </script>
    </p>
    <p class="text-center"> About: {{ user.about }} </p>
    </div>
    <div class="col-1">
    {% if current_user.is_anonymous %}
    {% elif is_user %}
    <p> Edit profile </p>
    {% else %}
    <p> Follow </p>
    {% endif %} 
    </div>
    </div>
    <hr>
 
{% endblock %}
